@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-boton-primary: #3B82F8;
  --bg-boton-secondary: #4338CA;
  --bg-hover-boton: #1D4ED8;
  --bg-primary: #F9FAFB;
  --bg-second: #EFF6FF;
  --text-primary: #3B82F8;
}

@theme inline {
  --color-background: var(--background);
  --color-background-boton-primary: var(--bg-boton-primary);
  --color-background-boton-secondary: var(--bg-boton-secondary);
  --color-boton-hover: var(--bg-hover-boton);
  --color-foreground: var(--foreground);
  --color-bg-primary: var(--bg-primary);
  --color-bg-second: var(--bg-second);
  --color-text-primary: var(--text-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--foreground);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
